:root {
    --color: #009688;
}

h1 {
    background-color: var(--color);
    color: #FFF;
    margin: 30px auto;
    width: 150px;
    height: 75px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

h1::before {
    content: '';
    background-color: var(--color);
    width: 40px;
    height: 74px;
    position: absolute;
    top: 0;
    left: -10;
    z-index: -1;
}

h1::before {
    transform: skew(10deg);
}

h1::after {
    content: '';
    background-color: var(--color);
    width: 40px;
    height: 74px;
    position: absolute;
    top: 0;
    left: -10;

}

h1::after {
    transform: skew(10deg);
}