div{
    width: 400px;
    height: 400px;
    background-image: url("../imges/menna.png");
}
.assign-3-shape-1{
    background-image: url("../imges/menna.png");
    background-repeat: no-repeat;
}
.assign-3-shape-2{
    background-image: url("../imges/menna.png");
    background-repeat: repeat-y;
    background-position: right;
}
.assign-3-shape-3{
    background-image: url("../imges/menna.png");
    background-repeat: repeat-x;
    background-position: bottom;
}
.assign-3-shape-4{
    background-image: url("../imges/menna.png");
    background-reapet: repeat;
}