div{
    font-size: larger;
    padding: 20px;
    background-color: #eee;
    color: black;
    border: 2px solid red;
    text-align: center;
}
div p{
    border: 2px solid ;
    border-color: inherit;
    padding: inherit;
}
