div{
    width: 200px;
    height: 200px;
    margin: 30px auto;
    color: black;
    background-color: #EEE;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    border-radius: 50%;
    position: relative;
}
div::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 10px solid #e91e63;
    border-left-color: white;
    border-radius: 50%;
}
div::after {
    content: "";
    position: absolute;
    width: 110%;
    height: 110%;
    border: 10px solid #03a9f4;
    border-right-color: transparent;
    border-radius: 50%;
}