.grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 20px 20px;
  grid-template-areas: "eight eight eight" "two two three" "four five five" "six five five" "seven five five" "one one one";
}
.grid div {
    background-color: #2196f3;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.one {
    grid-area: one;
    order: 8;
}
.two {
    grid-area: two;
    order: 2;
}
.three {
    grid-area: three;
    order: 3;
}
.four {
    grid-area: four;
    order: 4;
}
.five {
    grid-area: five;
    order: 5;
}
.six {
    grid-area: six;
    order: 6;
}
.seven {
    grid-area: seven;
    order: 7;
}
.eight {
    grid-area: eight;
    order: 1;
}